html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-500";
    color: var(--slate-900);
    background-color: var(--secondary-background);
}

button {
  appearance: button;
  background-color: var(--blue-600);
  border: 1px solid var(--blue-600);
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

button:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

button.removeButton {
    background-color: var(--red-600);
    border-color:var(--red-600);
}

button.removeButton:hover {
    background-color: #ce0e0e;
    border-color: #ce0e0e;
}

button.removeButton:active {
    background-color: #c50e0e;
    border-color: #c50e0e;
}

h2 {
    margin: 0
}

input {
    /* padding: 12px 16px; */
    font-size: 1.2rem;
    width: 70%;
}

input[type="date"] {
    width: 40%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}