dialog#new-todo-dialog {
    min-width: 300px;
    min-height: 300px;
    padding: 4px;
    border: 1px solid var(--slate-800);
    box-shadow: rgba(60, 64, 67, 0.8) 0px 1px 2px 0px, rgba(60, 64, 67, 0.8) 0px 1px 3px 1px;
    border-radius: 3px;
    background-color: var(--slate-300);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

div#new-todo-dialog-container {
    width: 100%;
    height: 100%;
}

#new-todo-dialog-container > form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

form h2 {
    font-family: "Roboto-400";
    font-size: 1.7rem;
    align-self: center;
}

form label {
    font-family: "Roboto-400";
    font-size: 1.3rem;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.validationContainer {
    align-self: center;
    color: var(--red-600);
}

form input[type="text"],
.descriptionInput > textarea,
.dueDateInput > input,
.prioritySelect > select {
    border: none;
    border-radius: 4px;
    background-color: var(--slate-200);
}

form input[type="text"] {
    text-indent: 4px;
    height: 25px;
}

form input:focus-visible,
.descriptionInput > textarea:focus-visible,
.dueDateInput > input:focus-visible {
    border: none;
    outline: none;
    background-color: var(--slate-100);
}

.dueDateInput > input {
    width: max-content;
}

.prioritySelect > select {
    /* background-color: var(--slate); */
}

.prioritySelect > select > option[value="Low"] {
   /* background-color: red; */
}

.descriptionInput > label {
    align-self: flex-start;
}

.descriptionInput > textarea {
    resize: none;
}

.checklistActions {
    justify-content: space-between;
}

.showChecklist {
    display: flex;
    gap: 8px;
}

.showChecklist > input {
    width: min-content;
}

.checklistItems > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.checklistItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formActions {

}