dialog#new-todo-dialog {
    padding: 4px;
    border: 1px solid var(--slate-800);
    box-shadow: rgba(60, 64, 67, 0.8) 0px 1px 2px 0px, rgba(60, 64, 67, 0.8) 0px 1px 3px 1px;
    border-radius: 3px;
    background-color: var(--slate-300);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}

div#new-todo-dialog-container {

}