form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
}

form h2 {
    font-family: "Roboto-400";
    font-size: 1.7rem;
    align-self: center;
    padding: 8px;
    margin: 8px;
}

form label {
    font-family: "Roboto-400";
    font-size: 1.3rem;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
}

form input[type="text"],
.descriptionInput > textarea,
.dueDateInput > input,
.prioritySelect > select {
    border: none;
    border-radius: 4px;
    background-color: var(--slate-200);
}

form input[type="text"] {
    text-indent: 4px;
    height: 25px;
}

form input:focus-visible,
.descriptionInput > textarea:focus-visible,
.dueDateInput > input:focus-visible {
    border: none;
    outline: none;
    background-color: var(--slate-100);
}

.dueDateInput > input {
    width: max-content;
}

.descriptionInput > label {
    align-self: flex-start;
}

.descriptionInput > textarea {
    resize: none;
}

.checklistActions {
    justify-content: space-between;
}

.showChecklist {
    display: flex;
    gap: 8px;
}

.showChecklist > input {
    width: min-content;
}

.checklistItems > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.checklistItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checklistItems input {
    font-size: 1rem;
}

.formActions button {
    font-size: 2rem;
}